@font-face {
  font-family: "Share Tech Mono";
  src: url("../../fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono";
  font-size: 16pt;
  text-transform: uppercase;
  color: #999;
  scrollbar-width: none;
  scroll-behavior: smooth;

  user-select: none;
}

a {
  text-decoration: none;
}

p {
  cursor: default;
}

li {
  list-style-type: none;
}

body {
  background-color: #000;
}


/* --- For Mobile Screens  --- */

@media screen and (max-width: 768px) {
  * {
    font-size: 12pt;
  }
}